.header {
  background: rgba(0, 25, 49, 0.96);

  &__title {
    font-weight: 700;
    color: #fff;

    &__span {
      color: rgba(77, 255, 0, 0.96)
    }
  }

  &__description {
    font-weight: 300;
  }

  &__btn {
    background: #000;
    color: #fff

  }
}






// МАГАЗИН  СУМКИ/ЗАРИНА ЭЖЕ

// IT-COMPANY//ТАРИЕЛ

// ОБРАЗОВЕТЕЛЬНЫЙ ЦЕНТ//Асель


// CТРОИТЕЛЬНАЯ КОМПАНИЯ // АЛИШЕР
// СТОМОТОЛОГИЯ // АБДУКАРИМ

// ФАСТФУД //НУРБОЛОТ
// КНИЖНЫЙ МАГАЗИН // ЭСМА

// ЛЕНДИНГ-ПЕЙДЖ
// 5-6 БЛОК
// МЕНЮ-ДРОПДОВН
// СЛАЙДЕР
// ТАБЫ
// БУРГЕР-МЕНЮ
// ФОРМА
// КАРТА
// АДАПТИВ








